<!doctype html>
<html lang="en" dir="ltr">
<head>
    <!-- Meta data -->
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
    <meta content="Slica – Bootstrap Responsive Flat Admin Dashboard HTML5 Template" name="description">
    <meta content="Spruko Technologies Private Limited" name="author">
    <meta name="keywords" content="admin site template, html admin template,responsive admin template, admin panel template, bootstrap admin panel template, admin template, admin panel template, bootstrap simple admin template premium, simple bootstrap admin template, best bootstrap admin template, simple bootstrap admin template, admin panel template,responsive admin template, bootstrap simple admin template premium" />
    <!--favicon -->
    <link rel="icon" href="~/assets/images/brand/favicon.ico" type="image/x-icon" />
    <!-- TITLE -->
    <title>MSSY</title>
    <!-- DASHBOARD CSS -->
    @*<link href="~/UIContent/CSS/bootstrap.min.css" rel="stylesheet" />
    <link href="~/UIContent/CSS/dataTables.bootstrap5.min.css" rel="stylesheet" />
    <link href="~/UIContent/CSS/fixedColumns.dataTables.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap"
          rel="stylesheet">
    <link href="~/UIContent/CSS/bootstrap-multiselect.css" rel="stylesheet" />
    <link href="~/UIContent/CSS/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/UIContent/CSS/sweetalert2.min.css" rel="stylesheet" />*@
    @*<link href="~/UIContent/CSS/style.css" rel="stylesheet" />*@
    <link href="~/assets/css/style.css" rel="stylesheet" />
    <link href="~/UIContent/CSS/style.css" rel="stylesheet" />
        <link href="~/assets/css/color-skins/color1.css" rel="stylesheet" />
        <link href="~/assets/css/skins-modes.css" rel="stylesheet" />
    <link href="~/assets/plugins/horizontal-menu/dropdown-effects/fade-down.css" rel="stylesheet">
        <link href="~/assets/plugins/horizontal-menu/horizontal-menu.css" rel="stylesheet">
        <link href="~/assets/plugins/charts-c3/c3-chart.css" rel="stylesheet" />
        <link href="~/assets/plugins/single-page/css/single-page.css" rel="stylesheet" type="text/css">
        <link href="~/assets/plugins/charts-c3/c3-chart.css" rel="stylesheet" />
        <link href="~/assets/plugins/jquery.mCustomScrollbar/jquery.mCustomScrollbar.css" rel="stylesheet" />
        <link href="~/assets/css/icons.css" rel="stylesheet" />
    <link href="~/UIContent/CSS/sweetalert2.min.css" rel="stylesheet" />
    @RenderSection("headers", required: false)
</head>
<body class="app">
    @RenderBody()
    
    <!-- JQUERY SCRIPTS -->
    <script src="~/assets/js/vendors/jquery-3.2.1.min.js"></script>
    <script src="~/assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/vendors/jquery.sparkline.min.js"></script>
    <script src="~/assets/js/vendors/circle-progress.min.js"></script>
    <script src="~/assets/plugins/rating/rating-stars.js"></script>
    <script src="~/assets/plugins/input-mask/input-mask.min.js"></script>
    <script src="~/assets/plugins/jquery.mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js"></script>

    <script src="~/UIContent/JS/sweetalert2.all.min.js"></script>
    @RenderSection("scripts", required: false)

</body>
</html>

